@charset "utf-8";
/* CSS Document */

.mody{
				font-size:36px;
				font-family:Calibri;
				color:#f74d4d;
				line-height: 30px;				
				}
			.mody1{
				font-size:58px;
				font-family:Calibri;
				color:#000;
				line-height: 50px;
				}
